
body {background-color: lightgray;background-position: center; background-size: cover;}  
section {

  }


  
  .div {
    justify-content: center;
    height: 20%;
    padding-top: 15px;
    margin: 20px;
  }
  
  .div1 {
    justify-content: center;
    order: 0; min-width: 100%; 
    max-width: 100%;
    text-align: center;
    align-items: center;


  }
  
.order 
  .div2 {
    max-width:100%; 
    text-align: center; 

  }
  
  .div3 {
     max-width: 100%%; 
     mi
    text-align: center;

  }
    
  .div4 {
    
    max-width: 23%%; 
   text-align: center;
 }


