#wrapper {
	height: 100vh;
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-gap: 10px;
}

#container {
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#container2 {
	height: 100%;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.box {
	height: 10vw;
	width: 10vw;
	border: 5px solid black;
	background-color: yellow;
}