/* 
 .wrapper {
    display: grid;
    grid-template-columns: (1fr, 10fr);
    grid-gap: 10px;
    grid-auto-rows: max-content (1fr, 4fr);
    grid-template-columns: minmax(10px, 100px);
  }
  
  .C1 {
   
    grid-column: 1 / 1;
    grid-row: 11/22;
    background-color: yellow;
 
  }
  .C2 { 
    
    grid-column: 1 / 1;
    grid-row: 1/ 11;
    background-color: yellow;
  }
  .C3 {
    background-color:yellow;
    grid-column: 1/1;
    grid-row: 22/33;
  }
  
 .C4 {
     background-color: yellow;
    grid-column: 1/1;
    grid-row: 33/44
  }

  .C5 {
    background-color: green;
    grid-column: 9/10;
    grid-row: 1/11 
  }
  
  .C6 {
    background-color: darkred;
    grid-column: 19/9;
    grid-row: 11/22;
  }
  
  .C7 {
    background-color: lightskyblue;
    grid-column: 3/6;
    grid-row: 4/4;
  } 
   
  .C8 {
    background-color: lightskyblue;
    grid-column: 1/6;
    grid-row: 5/5;}  */ 

.C1 {background-color: yellow; width: 100px; height: 100px;}
