section {
    height : 200px;
    border: 3px solid red;
    display:flex; 
    flex-direction: column;
    justify-content: space-between;  
    align-items: center;
    text-align: center;
  }
  
  .div {
    background-color: lightblue;
    height: 20%;
    

  }
  
  .div1 {
    padding-top: 15px;
    order: 0; min-width: 50%; max-width: 50%; 
    text-align: center;

  }
  
  .div2 {
    padding-top: 15px;
  min-width: 100%;
    text-align: center;
    

  }
  
  .div3 {
    padding-top: 15px;
    order: 1; max-width: 50%; min-width: 50%; 
    text-align: center;

  }